body {
  display: block;
  margin: 0;
}

.wrapper {
clear: both;
max-width: 100%;
margin: 0 10%;
padding: 0;
border:0;
display: block;
vertical-align: baseline;
}

.samples {
clear: both;
width: 100%;
max-width: 1000px;
margin: 0 auto;
display: block;
margin-bottom: 5%;
border-bottom: 1px solid #0000FF;


}

.project {
display: block;
}

.three-sixty {
display: inline;
    height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline;
    overflow: hidden;
}

.shuffle-me {
  width: 90%;
  margin: 2.5% auto;
}

.shuffle-me:first-child {
  width: 90%;
  margin: 2.5%;
}

.project-container {
	height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
}

img {
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}

 iframe {
	height: 600px;
	width: 100%;
	max-height: 700px;
	max-width: 1000px;

    margin: 0;
    padding: 0;
    border: none;
    position: relative;
    top: 0;
    left: 0;
    overflow: visible;
}

.shuffle-me {
width: 100%;
margin: 0px;
padding: 0px;
border: none;

}

.shuffle-me:first-child {
	width: 100%;
	float: none;
	height: 100%;
	border: none;
	margin: 0px;
}


span.project-type {
	margin-top: 4%;
	text-align: left;
	margin-bottom: 8%;
}




.project-description {
	font-family: 'Archivo Black', sans-serif;
	line-height: 1.5em;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    overflow: auto;
    max-width: 45%;
}

/*

@media (max-width: 1000px){
.project-description {
    float: none;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    overflow: visible;
    width: 100%
}

padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: block;
    float: none;
    clear: both;



@media screen and (max-width: 1000px) {
.samples .project-text {
}

@media (max-width: 1000px){
.project-text 
}

/*


MOBILE
@media screen and (max-width: 800px) {
  iframe {
  width: 100%;
  height: 200px;
  }
}

/* TABLET 
@media screen and (min-width: 1000px) {
  iframe {
  width: 100%;
  height: 400px;
  }
}

/* DESKTOP
@media screen and (min-width: 1000px) {
  iframe {
  width: 100%;
  height: 700px;
  }
}














